.form{
  box-sizing:border-box;
}

.textbox{
  font: 14px "fira-sans", Helvetica, Arial, sans-serif;

  width:100%;
  border-radius:10px;
  border:rgba(0,0,0,.3) 1px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 1px solid;
   color:rgba(24,149,215,1);
}

.button{

  width:100%;
  border-radius:10px;
  border:rgba(0,0,0,.3) 1px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:#90c843;
  color:#FFF;
  font: 14px "fira-sans", Helvetica, Arial, sans-serif;
  transition:background .4s;
  cursor:pointer;
}

.button:focus {
  outline:none;
}

.button:hover{
  background:#80b438;

}