
/**
 * Overlay Styles
 * Author: Miguel Julio
 */

body.modal-on {
  overflow: hidden;
}

/* Transition definitions */
.transit {

  /* Fix flickering on Chrome and Safari */
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

 /* Set transition for all properties */
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

/* Hide overlay content that lives on the page */
.fpo-only {
  display: none;
}

/* wraps the whole overlay */
.modal-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Background for the ovelay */
.modal-wrapper .opaque {
  background: #313131;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-wrapper .opaque.open {
  opacity: .4;
}

.modal-wrapper .modal-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%;
  left: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Modal style */
.modal-wrapper .modal {
  position: absolute;
  top: 14%;
  right: 1%;
  left: 1%;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}
.modal-wrapper .modal iframe {
  display: none;
}
.modal-wrapper .modal.open.loaded iframe {
  display: block;
}
.modal-wrapper .modal.open.loaded .loader {
  display: none;
}
.modal-wrapper .modal.open {
  display: block;
}

.modal-header {
  position: relative;
  margin: 0;
}

.modal-close {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  float:right;
  z-index: 100;
}
.modal-close:before,
.modal-close:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
}
.modal-close:before {
  border-left: 1px solid #333;
  left: 14px;
  top: -15px;
    -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-close:after {
  border-right: 1px solid #333;
  left: -15px;
  top: -15px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-content {
  position: relative;
  min-height: 50%;
  z-index: 1;
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  background: #ccc;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ccc;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ccc;
    height: 5em;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    font-size: 3em;
  }
  .modal-wrapper .modal {
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    min-width: 100%;
  }
  .modal-close,
  .modal-close:before,
  .modal-close:after
   {
    width:80px;
    height: 80px;
  }
  .modal-close:before {
    left: 17px;
    border-left: 3px solid #333;
  }
  .modal-close:after {
    left: -40px;
    border-right: 3px solid #333;
  }
}
/* Desktop (2o0px and 870px) ----------- */
@media only screen
and (min-width : 200px)
and (max-width : 870px) {
  .modal-wrapper .modal {
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    min-width: 100%;
  }
}