body {
  font: 14px "fira-sans", Helvetica, Arial, sans-serif;
  background: #fff;
} 

.wrapper {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}


.section:after {
    content: "";
    display: table;
    clear: both;
}
h1, h2,h3,h4,h5,h6 { margin-top: 0; color: #FF5700;}
a {
  color: #00B7FF;
}
ul { list-style: none; padding: 0;}
.split {
  display: inline-block;
  width: 50%;
  float:left;
  margin-left: 0;
}
.hero {
  color: #222;
  font-size: 20px;
  font-weight: 100;
  margin-top: 385px;
}
.hero span {
  color: #333;
  font-size: 50%;
  line-height: .5;
  display: block;
}

/* iframe */

iframe {
  border: none;
  min-height: 800px;
  width: 100%;
}